.maindiv-row{
    width: 100%;
    padding-top: 30px;
}

.maindiv-card{
    width: 100%;
}

.maindiv-card .card-body table thead tr td{
    width:100px;
    text-align: center;
}
.maindiv-card .card-body table tbody tr td{
    width:100px;
}
.maindiv-card .card-body table tbody tr td input{
    border: none;
    height:30px;
    width:100%;
}