.maindiv-row{
    width: 100%;
    padding-top: 30px;
}

.maindiv-card{
    width: 100%;
}

.maindiv-card .card-body table thead tr td{
    width:100px;
    text-align: center;
}
.maindiv-card .card-body table tbody tr td{
    /* padding: 0%; */
    width:100px;
    /* text-align: center; */
}
.maindiv-card .card-body table tbody tr td input{
    border: none;
    /* border-bottom: 1px solid black; */
    height:30px;
    /* margin: 0%; */
    /* padding: 0; */
    width:100%;
}