.ulstyle{
    /* border:2px solid green; */
    position: absolute;
    top: 25%;

    z-index:1000;
    /* background:white; */

}

.liststyle{
    /* border:2px solid red; */
    list-style:none;
    background:#eee;
    padding:10px;
    cursor:pointer;
    border: 1px solid blue;

}
.liststyle:hover{
    background:rgb(164, 197, 212);
}