.ulstyle {
    position: absolute;
    top:100%;
    left: 20%;
    z-index: 1;
}

.liststyle {
    list-style: none;
    background: rgb(250, 248, 248);
    padding: 10px;
    cursor: pointer;
    border: 1px solid blue;
}

.liststyle:hover {
    background: rgb(164, 197, 212);
}

.darkliststyle {
    list-style: none;
    background: rgb(207, 205, 205);
    color: black;
    padding: 10px;
    cursor: pointer;
    border: 1px solid gray;
}

.darkliststyle:hover {
    background: darkgray;
    color: #fff;
}



/* .vendulstyle{
    position: absolute;
    top: 20%;
    left: 20%;
    z-index:1000;
}

.vendliststyle{
    list-style:none;
    background:rgb(250, 248, 248);
    padding:10px;
    cursor:pointer;
    border: 1px solid black;

}
.vendliststyle:hover{
    background:rgb(164, 197, 212);
} */

.heading-div {
    padding: 0px 5%;
}

@media screen and (max-width:680px) {
    .heading-div {
        flex-direction: column;
    }

    .btn-heading-div {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width:420px) {}