.usermanual_sidebar {
    width: 20%;
    background: #f6f7f9;
}

.usermanual_brand {
    background: #4a617d;
    width: 100%;
    height: 10vh;
}

.usermanual_brand img {
    width: 100%;
    height: 100%;
}

.fields {
    margin: 15px 20px;
}

.usermanual_sidebar .fields ul li {
    list-style: none;
    cursor: pointer;
    margin: 2px 0;
    color: rgb(91, 91, 91);
}

.usermanual_sidebar .fields ul {
    margin: -7px;
}

.fields p {
    font-size: 15px;
    font-weight: 600;
    color: gray;
}

.usermanual_sidebar .fields ul li:hover {
    color: rgb(65, 97, 255);
}

.usermanual_content {
    width: 80%;
    left: 20%;
}
.usermanual_document_nav {
    min-height: 10vh;
    background: #f6f7f9;
    padding: 20px 20px 0 20px
}