.LandingDiv {
    height: 100vh;
    width: 100vw;
    background-color: rgb(254, 242, 242);
}

.landing_navbar {
    height: 12%;
    width: 100%;
    display: flex;
}

.landing_navbar .Logo {
    flex: 1;
}

.landing_navbar .Logo img {
    margin-left: 30%;
}

.landing_navbar .Menu {
    display: flex;
    flex: 4;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 2222;
}

.landing_navbar .Menu .Menulist {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.landing_navbar .Menu .Menulist li {
    cursor: pointer;
}

.landing_navbar .Menu .Menulist .landing-nav-link:hover {
    border-bottom: 3px solid rgb(108, 108, 248);
}

.landing_navbar .Menu .Menulist li .signin-btn {
    background-color: rgb(108, 108, 248);
    padding: 5px 20px;
    border-radius: 15px;
    transition: all 0.4s linear;
}

.landing_navbar .Menu .Menulist li .signin-btn:hover {
    background-color: rgb(55, 55, 55);
    padding: 5px 20px;
    border-radius: 15px;
}


.sectioncont {
    height: 78%;
    width: 100%;
    display: flex;
}

.sectioncont .landingimg {
    flex: 2;
    height: 100%;
}

.sectioncont .landingimg img {
    height: 90%;
    width: 80%;
    margin-left: 10%;
}

.sectioncont .content {
    padding: 0% 5% 5%;
    box-sizing: border-box;
    border-radius: 0% 0% 0% 15%;
    margin-top: -12%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 103%;
    background-color: rgb(232, 225, 254);
}

/* Footer Section */
.LandingDiv .landing-footer {
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    width: 100%;
    background-color: rgb(143, 132, 132);
}

.LandingDiv .landing-footer .medialink{
    width: 20%;
    margin-top: 13px;
}

.LandingDiv .landing-footer ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.LandingDiv .landing-footer span .phone-icon {
    transform: rotate(100deg);
}

/* Media Query for max 1000px */
@media screen and (max-width:1000px) {
    .LandingDiv .sectioncont {
        display: flex;
        flex-direction: column;
    }

    .sectioncont .landingimg img {
        height: 100%;
        width: 100%;
        margin-left: 0%;
    }

    .sectioncont .content {
        border-radius: 0%;
        margin-top: 0%;

    }
}

/* Media Query for max 500px */
@media screen and (max-width:500px) {
    .landing_navbar {
        flex-direction: column;
    }
}