.bankpayPreview-modal {
    position: relative;
}

.bankpay-main_div {
    border: 1px solid;
    width: 100%;
    padding: 9px;
}

.bankpay_for_border {
    width: 100%;
}

.bankpay_company_logo {
    width: 450px;
    max-height: 25%;
    padding: 20px;
}

.bankpay_company_logo img {
    max-width: 90%;
    max-height: 100%;
}

.bankpay_company_details {
    width: 75%;
    line-height: 1.3;
}

.bankpay h3 {
    background: #cccccc;
    font-size: 21px;
    border: 1px solid black;
}

.bankpay_cust_detail {
    width: 100%;
    border: 1px solid black;
    line-height: 2;
}

.bankpay_cust_inner1 {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    line-height: 2;
    padding: 0 6px;
}

.bankpay_cust_inner1:nth-child(2) {
    border-left: none;
}

.bankpay_cust_inner2 {
    border-top: 1px solid;
}

#bankpay_second_table {
    border: 1px solid;
    border-collapse: collapse;
}

#bankpay_second_table th {
    border: 1px solid;
    border-collapse: collapse;
    font-size: 14px;
    padding: 0 5px;
}

#bankpay_second_table td {
    border: 1px solid;
    border-collapse: collapse;
    font-size: 14px;
    padding: 0 5px;
}

.Total_bankpay_div {
    border: 1px solid;
    border-top: none;
    display: flex;
    justify-content: space-between;
}


.bankpay_Amount_tax {
    border: 1px solid;
    border-top: none;
    background: #f7eaea;
}

.bankpay_Amount_tax strong {
    width: 50%;
}

.bankpay_Amount_tax table {
    width: 50%;
    border-collapse: collapse;
    border-top: none;
}

.bankpay_Amount_tax td {
    border: 1px solid;
    border-bottom: none;
    border-right: none;
    border-collapse: collapse;
    font-size: 16px;
    padding: 0 5px;
}

@media screen and (max-width: 1190px) {
    .bankpay-main_div {
        border: 1px solid;
        width: 90%;
        padding: 9px;
    }
}

@media screen and (max-width: 1030px) {
    .bankpay-main_div {
        border: 1px solid;
        width: 100%;
        padding: 9px;
    }

    .bank_amtWordpreview {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 920px) {
    .bankpay_company_logo img {
        width: 150px;
        margin: 30px 0
    }

    .bankpay-main_div {
        padding: 9px;
    }

    #bankpay_second_table {
        overflow: auto;
        display: inline-block
    }
}

@media screen and (max-width: 580px) {
    .Total_bankpay_div {
        flex-direction: column;
    }

    .bankpay_company_details {
        width: 100%;
        line-height: 1;
    }

    .bankpay_company_logo {
        width: 100%;
        height: 125px;
        padding: 0px;
    }

    .bankpay_company_logo img {
        width: 100%;
        height: 100%;
        margin: 0px auto 0px;
    }
}

@media screen and (max-width: 400px) {
    .Total_bankpay_div {
        flex-direction: column;
    }

    .bankpay-head_div {
        flex-direction: column;
    }

    .bankpay_company_details {
        text-align: center;
    }
}

@media screen and (max-width:350px) {
    .bankpay-head_div {
        flex-direction: column;
    }

    .parent_table {
        overflow: auto;
    }
}