.modalinvoice {
    font-family: sans-serif;
    border: 1px solid #000;
    padding-bottom: 10px;
  }
  
  .modeldivcard {
    width: 60vw;
    /* transform: translate(-10%); */
  }
  
  .topdiv {
    height: 13vh;
    position: relative;
  }
  
  .topinnerdiv {
    position: absolute;
    right: 0;
    top: 4%;
    height: 100%;
    width: 50%;
  
  }
  
  .topinnerdiv h5 {
    padding: 0px;
    margin: 0px;
  }
  
  .topinnerdiv p {
    margin: -1px 0px 3px 0px;
  }
  
  .topbottomdiv {
    height: 15px;
    width: 100%;
  }
  
  .invoicediv {
    height: 60px;
    width: 100%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inerinvoicediv {
    width: 95%;
    height: 33px;
    display: flex;
    align-items: center;
  }
  
  .firstinvoicediv {
    width: 30%;
  }
  
  
  /* .secondinvoicediv,
  .thirdinvoicediv {
    border-right: 2px solid #000;
  } */
  
  .forthinvoicediv {
    width: 35%;
    text-align: right;
  }
  
  .addressmaindiv {
    height: 150px;
    width: 100%;
    display: flex;
    border-bottom: 1px dotted #000;
  }
  
  .addressmaindiv .inneraddduiv {
    height: 100%;
    width: 50%;
    padding: 0px 5px 5px 10px;
  }
  
  .addressmaindiv .inneraddduiv h5 {
    margin: 7px 0px 0px 0px;
    font-size: 15px;
  }
  
  .addressmaindiv .inneraddduiv h6 {
    margin: 20px 0px 0px 0px;
    font-size: 14px;
  }
  
  .addressmaindiv .inneraddduiv p {
    margin: 5px 0px 3px 0px;
  }
  
  .detail {
    height: 60px;
    padding: 2px 0px 0px 10px;
    /* border-bottom: 1px dotted #000; */
  }
  
  .detail .detailtable {
    width: 100%;
  }
  
  .detail .detailtable tr td {
    width: 30%;
  }
  
  /* .itemtablediv {
    width: 100%;
    position: relative;
  }
  
  .itemtablediv .itemtable {
    border: 1px solid #000;
    width: 100%;
    padding: 0%;
    border-collapse: collapse;
  }
  
  .itemtablediv .itemtable .itemthead {
    border-bottom: 1px solid #000;
  }
  
  .itemtablediv .itemtable .itemthead .itemtr .itemth,
  .itemthtrtd {
    border-right: 1px solid #000;
    margin: 0;
    text-align: center;
    padding: 0;
  }
  
  .itemtablediv .itemtable tbody {
    border-bottom: 1px solid #000;
  }
  
  .itemtablediv .itemtable .itemtfoot .itemtfoottr th {
    text-align: right;
    padding-right: 5%;
    border-right: 1px solid #000;
  }
  
  .itemtablediv .itemtable .itemtfoot .itemtfoottr .itemtfoottrtd {
    text-align: center;
    padding: 0;
    border-right: 1px solid #000;
  }
  
  .gstcolum td {
    margin: 0;
    height: 100%;
    width: 50%;
  }
  
  .gstcolum :first-child {
    border-right: 1px solid #000;
  }
   */
  
  
  
  
  /* ################## itemtablesec Start*/
  .itemdivsec {
    width: 100%;
  
  }
  
  .itemtablesec {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
  }
  
  .itemtablesec .itemheadsec {
    border-bottom: 1px solid #000;
  }
  
  .itemtablesec .itemheadsec th {
    border: 1px solid #000;
  }
  
  .itemtablesec .itembodysec .itemtrsec th {
    border: 1px solid #000;
  }
  
  
  .itemtablesec .itembodysec th:nth-child(1) {
    width: 4%;
  }
  
  .itemtablesec .itembodysec .itemtrsec td:nth-child(2) {
    width: 35%;
  }
  
  .itemtablesec .itembodysec .itemtrsec td {
    border: 1px solid #000;
  }
  
  .itemtablesec .itemfootsec .itemfoottrsec th {
    border: 1px solid #000;
    text-align: right;
    padding-right: 10%;
  
  }
  
  .itemtablesec .itemfootsec .itemfoottrsec td {
    border: 1px solid #000;
  
  }
  
  /*####################### itemtablesec End ######################## */
  
  
  /*  ################# invoiceval  ########################### */
  .invoiceval {
    height: 40px;
    width: 100%;
    border-bottom: 1px dotted #000;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    ;
  }
  
  .invoiceval h4 {
    margin: 0;
    width: 35%;
    padding-left: 10px;
  }
  
  /* invoicevalword */
  .invoicevalword {
    height: 35px;
    width: 100%;
    border-bottom: 1px dotted #000;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
  }
  
  .invoicevalword h4 {
    margin: 0;
    width: 35%;
    padding-left: 8px;
  }
  
  .invoicevalword h4:nth-child(2) {
    width: 45%;
  }
  
  /* amounttax */
  .amounttax {
    height: 70px;
    width: 100%;
    border-bottom: 1px dotted #000;
    box-sizing: border-box;
    display: flex;
  }
  
  .amounttax h4 {
    margin-top: 15px;
    width: 45%;
    padding-left: 10px;
  }
  
  .amounttax .amounttaxtable {
    margin: 0;
    width: 50%;
    border-collapse: collapse;
    background: #eee;
    text-align: center;
  }
  
  .amounttax .amounttaxtable th {
    border: 1px solid #000;
  }
  
  .amounttax .amounttaxtable .amounttaxtr .amounttaxtrth {
    width: 5%;
  }
  
  .amounttax .amounttaxtable .amounttaxtr td {
    border: 1px solid #000;
  
  }
  
  /* gstdetail */
  .gstdetail {
    height: 40px;
    width: 100%;
    border-bottom: 1px dotted #000;
    padding-top: 15px;
    box-sizing: border-box;
    display: flex;
  }
  
  .gstdetail h5 {
    margin: 0;
    padding-left: 10px;
  }
  
  .payable {
    height: 40px;
    width: 100%;
    border-bottom: 1px dotted #000;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
  }
  
  .payable h4 {
    margin: 0;
    padding-left: 10px;
  }
  
  .signature {
    height: 40px;
    width: 100%;
    padding-top: 15px;
    box-sizing: border-box;
    display: flex;
  }
  
  .signature h4 {
    margin: 0;
    padding-left: 10px;
  }
  
  
  
  @media screen and (max-width:2000px) {
    .gstdetail h5 {
      font-size: 18px;
    }
  }
  
  @media screen and (max-width:1900px) {
    .addressmaindiv {
      height: 190px;
    }
  
    .invoiceval h4 {
      width: 50%;
    }
  
    .invoicevalword h4:nth-child(1) {
      width: 40%;
    }
  
    .invoicevalword h4:nth-child(2) {
      width: 60%;
    }
  
    .gstdetail {
      height: 70px;
    }
  }
  
  @media screen and (max-width:1700px) {
    /* .secondinvoicediv {
      width: 20%;
    } */
  
  }
  
  
  @media screen and (max-width:1500px) {
    .invoicevalword {
      height: 80px;
    }
  
  }
  
  @media screen and (max-width:1350px) {
    .modeldivcard {
      width: 80vw;
      transform: translate(-10%);
    }
  
    .addressmaindiv {
      height: 210px;
    }
  
    .invoiceval {
      height: 80px;
    }
  }
  
  @media screen and (max-width:1000px) {
    .modeldivcard {
      width: 90vw;
      transform: translate(-20%);
    }
  
    .invoiceval :nth-child(1) {
      width: 70%;
    }
  
    .invoiceval :nth-child(2) {
      width: 20%;
    }
  }
  
  @media screen and (max-width:995px) {
    .modeldivcard {
      width: 90vw;
      transform: translate(0%);
    }
  }
  
  @media screen and (max-width:985px) {
    .modeldivcard {
      width: 90vw;
      transform: translate(-20%);
    }
  }
  
  @media screen and (max-width:850px) {
    .modeldivcard {
      width: 90vw;
      transform: translate(-18%);
    }
  
    /* .secondinvoicediv {
      width: 30%;
    } */
  
  
  }
  
  @media screen and (max-width:800px) {
    .modeldivcard {
      margin-top: 10px;
      width: 100vw;
      transform: translate(-17%);
    }
  
  
  }
  
  @media screen and (max-width:720px) {
    .modeldivcard {
      transform: translate(-13%);
    }
  }
  
  @media screen and (max-width:650px) {
    .modeldivcard {
      transform: translate(-10%);
    }
  }