.login_container {
    height: 100vh;
    width: 100vw;
    background: #dce0fe;
}

.login_box {
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    overflow:hidden;
}

.login_box .login {
    width: 50%;
}

.login_box .login .finsgrowlogo{
    height: 100px;
    width: 200px;
}
.login_box .login .finsgrowlogo img{
    height: 100%;
    width: 100%;
}
.login_box .login .form-div {
    width: 55%;
}

.login input {
    width: 100%;
    height: 36px;
    height: 36px;
}

.login .login-btn {
    width: 90%;
    margin: 20px auto;
    height: 36px;
    border: none;
    /* color: white;
    background: #5038ed; */
    background: #4d669e;
    color: #fff;
    transition: all 0.2s linear;
}

.login .login-btn:hover {
    background: #b4c8f9;
    color: #000;
}


/* Login Slider  */
.login_box .login_photo {
    width: 50%;
    padding: 20px;
    background: url("../../images/LoginPage/loginbg.jpg");
    background-size: 100% 100%;
}


.login_box .login_photo .login-slider {
    height: 90%;
    margin: auto 0px;
}

.login_box .login_photo .login-slider .carousel-inner .carousel-item img {
    height: 250px;
    width: 230px;
    margin: auto;
}


@media screen and (max-width: 990px) {
    .login_box {
        width: 87%;
    }
    .login_box .login .form-div {
        width: 85%;
    }
}

@media screen and (max-width: 767px) {
    .login_box .login_photo {
        display: none;
    }

    .login_box .login {
        width: 100%;
        /* padding: 15px 110px; */
        background: url("../../images/LoginPage/loginbg.jpg");
        background-size: 100% 100%;
        position: relative;
    }


    .login h1 {
        color: white;
    }

    .login h4 {
        color: white;
    }
    .login_box .login .form-div {
        width: 65%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }


    /* .login .login-btn {
        background: #3521b4;
        border: 1px solid white;
    } */
}


@media screen and (max-width: 600px) {
    .login_box .login .form-div {
        width: 80%;
    }
}


@media screen and (max-width: 400px) {
    .login_box .login .form-div {
        width: 90%;
    }
}



/* Loading   */

#outerloadingdiv {
    height: 100vh;
    width: 100vw;
    position: relative;
    cursor: wait;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

#innerloadingdiv {
    height: 200px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  Spinner  */
.lds-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: rgb(0, 3, 9);
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
} 



















 .logincontainer {
    height: 100vh;
    background: url("../../images/bg1.jpg") no-repeat center center fixed;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.userimgdiv {
    height: 150px;
    width: 150px;
    
}

.userimgdiv img {
    height: 100%;
    width: 150px;
    border-radius: 50%;
    width: 100%;
}

.userimgdiv .cameraicon {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 120px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    transition: all 0.1 linear;
}

.userimgdiv .cameraicon:hover {
    background: #000;
    color: white;
    border: 1px solid #000;
}


*/