* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family:-apple-system ; */
  /* font-family:BlinkMacSystemFont ; */
  /* font-family:'Segoe UI' ; */
  /* font-family:'Roboto' ; */
  /* font-family:'Oxygen' ; */
  /* font-family:'Ubuntu' ; */
  /* font-family:'Cantarell' ; */
  /* font-family:'Fira Sans' ; */
  /* font-family:'Fira Sans' ; */
  /* font-family:'Droid Sans' ; */
  font-family: 'Helvetica Neue';
  /* font-family:'sans-serif' ; */
  /* font-family:'Source Sans Pro' ; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer
}

.cursor-notallow {
  cursor: not-allowed;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/*----------- Css for Calender Icon from Input type Date ----------------*/
/* input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
} */