/* .change-pass-container{
    width: 70%;
    min-height:60vh ;
    
}
.change-pass-container .change-pass-form{
   margin: 0px 10%;
   padding: 0% 2%;
}

@media screen and (max-width:768px) {
    .change-pass-container{
        width: 100%;
    }
} */