.div_cp {
  display: flex;
  justify-content: space-between;
  padding: 26px;
}

.div_cp .cp_heading {
  color: #4242c9;
}

.div_cp_1 {
  width: 57%;
}

.div_cp_1 .form-div {
  padding: 30px 12%;
}

.div_cp_1 .change-btn {
  background: #2c41b8;
}

.div_cp_2 {
  width: 40%;
}

.div_cp_2 img {
  width: 350px;
}

@media only screen and (max-width: 1000px) {
  .div_cp{
    flex-direction: column-reverse;
  }
  .div_cp_1 {
    width: 100%;
  }
  .div_cp_2 {
    width: 100%;
  }

}

@media only screen and (max-width: 500px) {
 
  .div_cp_1 .form-div {
    padding: 10px 2%;
  }
}