.signup_page {
    min-height: 100vh;
    min-width: 100vw;
    background: #d0deff;
    margin: 0%;
    padding: 0%;
}

.signup_page .innersignup_page {
    height: 90vh;
    width: 90vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    overflow:hidden;
}

.signup_page .innersignup_page .signup_form {
    width: 60%;
}

.signup_page .innersignup_page .signup_form .header {
    height: 50px;
    width: 100%;
}

.signup_page .innersignup_page .signup_form .header img {
    height: 50px;
    width: 130px;
}

.signup_page .innersignup_page .signup_form .signp_btn {
    background: #b4c8f9;
    width: 180px;
    height: 38px;
    border-radius: 30px;
    margin-left: 40%;
    border: none;
    transition: all 0.2s linear;
}

.signup_page .innersignup_page .signup_form .signp_btn:hover {
    background: #4d669e;
    color: #fff;
}

.signup_page .innersignup_page .signup_image {
    width: 40%;
    height: 100%;
}

.signup_page .innersignup_page .signup_image img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:910px) {
    .signup_page .innersignup_page {
        flex-direction: column-reverse;
    }
    .signup_page .innersignup_page .signup_form {
        width: 100%;
    }
    .signup_page .innersignup_page .signup_image {
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .signup_page .innersignup_page {
        height: 95vh;
        width: 95vw;
    }
}
/* .brand{
    height: 60px;
    width: 50%;
    background: #5260f6;
}
.brand2{
    height: 60px;
    width: 50%;
    background: #5260f6;
}
.imgdiv{
    display: none;
}
.brand2 h4{
    display: none;
}
.brand img{
    margin-top: -17px;
    margin-left: 6px;
}
.card-header{
    color: rgb(105, 101, 101);
}
article label{
    color: rgb(105, 101, 101);
}
@media screen and (min-device-width: 1020px) and (max-device-width: 2500px) { 
    .imgdiv{
        display: block;
        width: 101.7%;
        height: 90.9vh;
        background: #838eff;
    }
    .imgdiv img{
        width: 100%;
        height:100%;
        border-left: none;
    }
    .brand{
       border-bottom: 1px solid white;
    }
    .brand2{
      
      background: rgb(9, 19, 87)    ;
      border-bottom: 0.01em solid rgb(212, 212, 212);
    }
    .brand2 h4{
        text-align: center;
        display: block;
        margin-top: 13px;
        color:white;
        font-size: 19px;
    }

} */