 
 .orgcard
      {
       
        position: absolute;
        top: 100%;
        right: 5%;
        border-radius: 10px;
        background: rgb(206, 228, 248);
        overflow: hidden;
     
        z-index:auto
      }
   
 .orgcard .cardtitle{
     padding: 10px 10px 10px 20px;
 }
 