 .orgcard {
   position: absolute;
   top: 100%;
   right: 0%;
   border-radius: 10px;
   /* background: rgb(206, 228, 248); */
   overflow: hidden;
   width: 23rem;
   border: 1px solid rgb(172, 170, 170);
   box-shadow: 2px 2px 5px rgb(147, 146, 146);
 }


 .orgnamehover:hover {
   text-decoration: underline;
 }


 .profilcard {
   position: absolute;
   top: 100%;
   right: 3%;
   border-radius: 10px;
   background: rgb(244, 242, 242);
   overflow: hidden;
   width: 25rem;
   height: 85vh;
   border: 1px solid rgb(172, 170, 170);
   box-shadow: 2px 2px 3.5px rgb(147, 146, 146);
 }




 /*  */

 .color-option {
   /* border:2px solid red; */
   width: 80%;
   height: 25px;
   display: flex;
   justify-content: space-between;
   margin-left: 50%;
   transform: translate(-50%);
 }

 .colordiv {
   height: 100%;
   width: 25px;
   cursor: pointer;
 }

 .switchdiv {
   display: flex;
   justify-content: space-between;
   text-align: center;
   width: 60%;
   margin-left: 50%;
   transform: translate(-50%);
 }

 .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 30px;

 }

 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }

 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }

 .slider:before {
   position: absolute;
   content: "";
   height: 23px;
   width: 23px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }

 input:checked+.slider {
   background-color: #222323;
 }

 input:focus+.slider {
   box-shadow: 0 0 1px #222323;
 }

 input:checked+.slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
 }

 /* Rounded sliders */
 .slider.round {
   border-radius: 34px;
 }

 .slider.round:before {
   border-radius: 50%;
 }

 @media screen and (max-width:768px) {
  .fins-year-text{
    display: none;
  }
 }
 @media screen and (max-width:520px) {
  .financial-change{
    display: none;
  }
 }